body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #a6aeae;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

.content {
    background-color: #838889;
    padding: 20px;
    border-radius: 20px;
    max-width: 800px;
    text-align: center;
    width: 80%;
}

table {
    margin: auto;
}

h3 {
    background-color: #272929;
    color: #c5d6dc;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    width: auto;
    display: inline-block;
}

li {
    list-style-type: none;
    padding: 10px;
    background-color: #93a3ae;
    border-radius: 30px;
    margin: 5px 0;
    text-align: left;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4a5454;
    display: inline-block;
}

a:hover {
    color: #4a5454;
    background-color: rgb(208, 220, 218); /* 鼠標靠近時背景顏色變化 */
}

.link-container {
    display: flex;
    justify-content: center;
    gap: 5px;
}