body {
    font-family: Arial, sans-serif;
    background-color: #c0ccdc;
    text-align: center;
}

a {
    font-size: 20px;
    color: rgb(159, 209, 217);
    background-color: rgb(141, 98, 94);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin: 10px auto;
    border-radius: 5px;
    margin-top: 5px; /* 減少與上方的距離 */
    margin-bottom: 5px; /* 減少與下方的距離 */
}

a:hover {
    color: rgb(161, 107, 107);
    background-color: rgb(132, 166, 186);
}

h1 {
    color: rgb(159, 209, 217);
    background-color: rgb(141, 98, 94);
    text-decoration: none;
    padding: 5px 10px;
    border: 5px solid rgb(115, 86, 86);
    display: inline-block;
    margin: 20px auto;
    border-radius: 20px;
}